<p id="notice"><%= notice %></p>

<h1>Estagios</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Naturalidade</th>
      <th>Sexo</th>
      <th>Rg</th>
      <th>Orgaoemissao</th>
      <th>Cpf</th>
      <th>Tel1</th>
      <th>Tel2</th>
      <th>Email</th>
      <th>Cep</th>
      <th>Logradouro</th>
      <th>Num</th>
      <th>Bairro</th>
      <th>Cidade</th>
      <th>Estado</th>
      <th>Area</th>
      <th>Instituicao</th>
      <th>Curso</th>
      <th>Necesp</th>
      <th>Desnecesp</th>
      <th>Pag</th>
      <th>Durcurso</th>
      <th>Sem</th>
      <th>Dtnasc</th>
      <th>Dtemissao</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @estagios.each do |estagio| %>
      <tr>
        <td><%= estagio.nome %></td>
        <td><%= estagio.naturalidade %></td>
        <td><%= estagio.sexo %></td>
        <td><%= estagio.rg %></td>
        <td><%= estagio.orgaoEmissao %></td>
        <td><%= estagio.cpf %></td>
        <td><%= estagio.tel1 %></td>
        <td><%= estagio.tel2 %></td>
        <td><%= estagio.email %></td>
        <td><%= estagio.cep %></td>
        <td><%= estagio.logradouro %></td>
        <td><%= estagio.num %></td>
        <td><%= estagio.bairro %></td>
        <td><%= estagio.cidade %></td>
        <td><%= estagio.estado %></td>
        <td><%= estagio.area %></td>
        <td><%= estagio.instituicao %></td>
        <td><%= estagio.curso %></td>
        <td><%= estagio.necEsp %></td>
        <td><%= estagio.desNecEsp %></td>
        <td><%= estagio.pag %></td>
        <td><%= estagio.durCurso %></td>
        <td><%= estagio.sem %></td>
        <td><%= estagio.dtNasc %></td>
        <td><%= estagio.dtEmissao %></td>
        <td><%= link_to 'Show', estagio %></td>
        <td><%= link_to 'Edit', edit_estagio_path(estagio) %></td>
        <td><%= link_to 'Destroy', estagio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Estagio', new_estagio_path %>
