<p>
  <strong>Nome:</strong>
  <%= @estagio.nome %>
</p>

<p>
  <strong>Naturalidade:</strong>
  <%= @estagio.naturalidade %>
</p>

<p>
  <strong>Sexo:</strong>
  <%= @estagio.sexo %>
</p>

<p>
  <strong>Rg:</strong>
  <%= @estagio.rg %>
</p>

<p>
  <strong>Orgaoemissao:</strong>
  <%= @estagio.orgaoEmissao %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @estagio.cpf %>
</p>

<p>
  <strong>Tel1:</strong>
  <%= @estagio.tel1 %>
</p>

<p>
  <strong>Tel2:</strong>
  <%= @estagio.tel2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @estagio.email %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @estagio.cep %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @estagio.logradouro %>
</p>

<p>
  <strong>Num:</strong>
  <%= @estagio.num %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @estagio.bairro %>
</p>

<p>
  <strong>Cidade:</strong>
  <%= @estagio.cidade %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @estagio.estado %>
</p>

<p>
  <strong>Area:</strong>
  <%= @estagio.area %>
</p>

<p>
  <strong>Instituicao:</strong>
  <%= @estagio.instituicao %>
</p>

<p>
  <strong>Curso:</strong>
  <%= @estagio.curso %>
</p>

<p>
  <strong>Necesp:</strong>
  <%= @estagio.necEsp %>
</p>

<p>
  <strong>Desnecesp:</strong>
  <%= @estagio.desNecEsp %>
</p>

<p>
  <strong>Pag:</strong>
  <%= @estagio.pag %>
</p>

<p>
  <strong>Durcurso:</strong>
  <%= @estagio.durCurso %>
</p>

<p>
  <strong>Sem:</strong>
  <%= @estagio.sem %>
</p>

<p>
  <strong>Dtnasc:</strong>
  <%= @estagio.dtNasc %>
</p>

<p>
  <strong>Dtemissao:</strong>
  <%= @estagio.dtEmissao %>
</p>

<%= link_to 'Edit', edit_estagio_path(@estagio) %> |
<%= link_to 'Back', estagios_path %>
