<div class="col-lg-3">
  <div class="well sidebar-nav">
    <h3>Publicações</h3>
    <ul class="nav nav-list">
      <li class="nav-header">Acesso a links</li>
      <li><%= link_to "Upload da documentação de alguma coisa..", "/path1"  %></li>
      <li><%= link_to "Lista de Inscritos", "/path2"  %></li>
      <li><%= link_to "Locais de Prova", "/path3"  %></li>
    </ul>
    <ul class="nav nav-list">
      <li class="nav-header">Editais, Comunicados e informações</li>
      <li><%= link_to "Edital de Abertura", "/path1"  %></li>
      <li><%= link_to "Lista de Inscritos", "/path2"  %></li>
      <li><%= link_to "Locais de Prova", "/path3"  %></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->

<%#= link_to 'Página Principal', estagios_path %>

<%#= link_to "Logout", destroy_user_session_path, method: :delete %>
